@model OrderDetailViewModel
@{
    ViewData["Title"] = "付款結帳頁";
}

<div class="text-center">
    <h1 class="display-4">感謝購物!</h1>
    <p>您此次購買清單如下:</p>



</div>


<div class="">
    <ul>
        <li>購買商品名稱: @Model.ProductName</li>
        <li>價格@Model.Amount</li>
    </ul>

</div>

